<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>adding new placed </title>
</head>
<body>
    <form method="post" action="/listing">
        <input type="text" placeholder="put title " name="title" >
        <br>
        <br>
        <input type="text" placeholder="put description" name="description">
        <br>
        <br>
        <input type="text" placeholder="put image" name="image">
        <br>
        <br>
        <input type="text" placeholder="put price" name="price">
        <br>
        <br>
        <input type="text" placeholder="location" name="location">
        <br>
        <br>
        <input type="text" placeholder="country" name="country">
        <br>
        <br>
        <button> add new</button>

    </form>
</body>
</html>